
<footer>
  <h2>I'm footer</h2>
</footer>
<script type="text/javascript"  src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=css&amp;skin=sunburst"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script> 

<script src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js"></script>

{{ $prism := resources.Get "/js/prism.js" }}
{{ $prism := $prism | resources.Minify }}
<script type="text/javascript" src="{{ $prism.Permalink }}"></script>

{{ $script := resources.Get "/js/script.js" }}
{{ $script := $script | resources.Minify }}
<script type="text/javascript" src="{{ $script.Permalink }}"></script>
