
<head>
  <meta charset="utf-8">
  <meta name="viewport" content='width=device-width, initial-scale=1' />
  <title>{{ block "title" . }}
      <!-- Blocks may include default content. -->
      {{ .Site.Title }}
    {{ end }}</title>
  {{ if .Site.Params.favicon }}
  <link rel='icon' href="{{ .Site.Params.favicon | absURL }}" />
  {{ end }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
 
  {{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed" "enableSourceMap" true) }}
  {{ $style := resources.Get "sass/styles.scss" | resources.ToCSS $options }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>
{{ partial "mathjax_support.html" . }}