

<div class="ui top fixed menu">
    <div class="item">
      <i class="bars icon"  id="toggle"></i>
      </div> 
    {{ range .Site.Menus.main }}
    <a class="item"  href="{{.URL}}">
        {{.Name}}
    </a>
    {{end}}
 
    <div class="right menu">
            <a class="item" href="https://www.linkedin.com/in/lucasmmzapico/"><i class="github large icon"></i></a>
            <a class="item"  href="https://github.com/LucasZapico"><i class="linkedin large icon"></i></a>
          </div>
  </div>

  