<!-- sidebar start -->
<div>
        <div id="toggle" class=""><div class="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
              </div></div>
<div class="sidenav-wrap ">
        
<aside id="sidenav" class="">
  <ul>
      {{ $currentPage := . }}
      {{ range .Site.Menus.docs }}
      
          <li class="parent">
              <a href="{{.URL }}">{{.Name }}</a>
             {{ partial "menu_recursion.html" . }}
          </li>
        
      {{ end }}
  </ul>
</aside>
</div>
</div>
